body{
    background-color: rgb(174, 134, 212);
}

.login{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    border-radius: 15px;
    padding: 100px;
    margin-top: 50px;
    justify-content: center;
    align-self: center;
}

.login-img{
    flex-basis: 50%;
    justify-content: center;
    align-self: center;
}

.login-form{
    flex-basis: 50%;
}